body {
    background-color: rgb(50, 50, 50);
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
	
	font-weight: 300; 
	font-style: normal; 
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p {
    font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; 
}

header {
    z-index: 10;
    background-color: rgb(50, 50, 50);
    height: 8em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

#header-image {
    margin-top: 0.5em;
}

nav {
    margin-top: 1.9em;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
}

nav ul li {
    font-size: 1.6em;
}

nav ul li a {
    text-decoration: none;
    color: #dcdddd;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: rgb(200,50,50);
}

.main {
    position: relative;
    margin-top: 0em;
    height: 45em;
}

.blurry-background {
    position: absolute;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 45em;
    filter: blur(3px);
    z-index: -1;
}

.title-area {
    position: absolute;
    width: 100%;
}

.title-background {
    position: absolute;
    background-color: rgb(50, 50, 50);
    opacity: 0.8;
    width: 100%;
    height: 22em;
    z-index: 1;
    margin-top: 10em;
}

#title {
    font-size: 3em;
    text-align: center;
    margin-top: 4em;
    position: relative;
    z-index: 2;
    color: white;
}

#subtitle {
    z-index: 3;
    font-size: 2em;
    color: white;
    text-align: center;
    position: relative;
    font-weight: 100;
    margin: -1em auto 1em auto;
    width: 80%;
}

.buttons {
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: 100;
}

.button-style {
    background-color: rgb(210,60,60);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 1.5em;
    font-weight: 100;
}

.button-style:hover {
    cursor: pointer;
    background-color: rgb(245, 60, 60);
}

#contributors {
    font-size: 1.3em;
    text-align: center;
    font-weight: 100;
    color: white;
    z-index: 3;
    position: relative;
}

footer {
    background-color: rgb(50, 50, 50);
    font-size: 1.5em;
    width: 100%;
    color: white;
    padding: 5px 0px 5px 0px;
    text-align: center;
}