body {
    background-color: rgb(50, 50, 50);
    font-family:  'Open Sans', Arial, sans-serif;
    font-size: 14px;
	
	font-weight: 300; 
	font-style: normal; 
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Open Sans', Arial, Helvetica Neue, sans-serif; }

* {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.clear {
	clear: both;
}

.height30 {
	height: 30px;
}

.top-menu {
    min-height:110px;
    top: 0;
    background-color: rgb(50, 50, 50);
    z-index: 5000;
    width:100%;
}

.top-menu .navbar-toggle {
    margin-top: 38px;
}

.top-menu .navbar-brand {
    padding: 0;
    margin: 10px 0 0 0;
}

#blur {
    background: url('../images/background.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
	top: -10px;
    z-index: -10;
    height: 100%;
    overflow-x: hidden;
}
#carousel {
    margin-top: 200px;
    min-width: 400px;
    padding: 0;
    height: 260px;
    background-color: rgba(50, 50, 50, 0.8);
}

#carousel p {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 21px;
}

#caption {
    padding-top: 40px;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #ffffff;
}


.btn-orange {
    background-color: rgb(200, 50, 50);
    border-bottom:2px solid black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: rgb(210, 60, 60);
    color:#ffffff;
}

.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: rgb(200, 50, 50);
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgb(200, 50, 50);
    color:#fff;
}


.nav > li > a {
    color: #ffffff;
}
.navbar-default {
    background-color:#fff;
    border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: rgb(200, 50, 50);
    color:#fff;
}

.navbar {
    margin-bottom: 0px;
}

.footer_bottom {
	background: rgb(50, 50, 50);
	position: fixed;
    width: 100%;
    bottom: 0px;
	margin: auto;
	z-index: 20;
	display: block;
}
.footer_bottom_content {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	color:#ffffff;
}
.footer_bottom_content a {
	font-size: 14px;
	color:#ffffff;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  } 
}