html {
    height: 100%;
}

body {
    margin: 0; 
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #323232, black);
    background-attachment: fixed;
}

/* Wraps canvas and toolbar(s) */
.guiContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

/* Purpose: canvas shall work as a background under the toolbar(s) */
.guiContainer canvas{
    position: fixed;
}

/* Purpose: "Floating" toolbar over the canvas */
.guiContainer .toolbar-flexbox{
    position: relative;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
}

.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 1px 11px;
    border: 1px solid #4e4e4e;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #221b1b;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button:hover {
    border: 1px solid #812525;
    background: #721a1a;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
    border: 1px solid #961e1e;
    background: #961e1e;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:disabled {
    border: 1px solid #313131;
    background: #292929;
    color: #969696;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
}

.slider {
    -webkit-appearance: none;
    position: relative;
    width: 7rem;
    height: 1rem;
    border-radius: 10px;
    background: #969696;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    top: 0.3rem;
    left: 0.1rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 0.9rem;
    border-radius: 75%;
    background: rgb(105, 1, 1);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 0.9rem;
    border-radius: 75%;
    background: rgb(105, 1, 1);
    cursor: pointer;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=text] {
    border: none;
    padding-left: 0.4rem;
    padding-right: 0.04rem;
    width: 95%;
    height: 100%;  
    font-size: 1.1rem; 
    background-color: darkgray;
    transition: background-color 0.3s;
}

/* Switch input field to white while focused or on mouse hover */
input[type=text]:hover, input[type=text]:focus {
    border: none;
    padding-left: 0.4rem;
    padding-right: 0.04rem;
    width: 95%;
    height: 100%;  
    font-size: 1.1rem; 
    background-color: white;
}

#github {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#logo {
    position: fixed;
    left: 0.1rem;
    top: 0rem;
    width: 150px;
    margin: 0;
    padding: 0;
}

/* toolbar settings for flexbox */
.toolbar-flexbox{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    background-color: #333333;
    position: relative;
    height: 4rem;
    top: 0.5rem;
    left: 0.5rem;
}

.toolbar-button{
    width: 4rem;
    height: 100%;
    background-size: 3.5rem;
    border: 0px solid black;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-color: #333333;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    line-height: 6.6rem;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* Derivations of toolbar-button
    Doesn't have to do with start button, 
    just a name for a different size of background image */
.toolbar-startButton{
    width: 4rem;
    height: 100%;
    background-size: 1.5rem;
    border: 0px solid black;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-color: #333333;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    line-height: 6.6rem;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.toolbar-toggleButton{
    width: 7.5rem;
    height: 100%;
    border: 0px solid black;
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-color: #333333;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    line-height: 6.3rem;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* Basic settings for simulation container */
.simContainer{
    position: relative;
    background-color: #333333;
    height: 100%;
    width: 12rem;
    display: flex;
    flex-direction: column;
}

/* Upper container in simulation container */
.upperSimContainer{
    position: relative;
    display: flex;
    width: 100%;
    height: 55%;
    background-color: #333333;
    transition: background-image 0.3s linear;
}

/* Lower container in simulation container */
.lowerSimContainer{
    position: relative;
    display: flex;
    width: 100%;
    height: 45%;
    background-color: #333333;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: white;
}

.simContainer-startButton{
    width: 40%;
    color: white;
    border: 0px solid black;
    height: 100%;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #333333;
    cursor: pointer;
    -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* Checkbox */
.sfCheckBox{
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    height: 50%;
    width: 60%;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    font-size: 0.88rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: background-color 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* Container for input field, search and save button */
.searchSaveLoadContainer{
    position: relative;
    width: 9rem;
    height: 100%;
    background-color: #333333;
}

/* Contains search bar, child of searchSaveLoadContainer */
.inputContainer{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0rem auto 0rem auto;
    background-color: #333333;
}

/* Hover effects */
.toolbar-button:hover, .toolbar-startButton:hover, 
.toolbar-toggleButton:hover, .simContainer-startButton:hover{
    background-color: #721a1a;
}

/* Container to hold (as parent) description 'Basic' 
    and scrollable container with basic components */
.guiContainer .basicContainer{
    position: relative;
    top: 15rem;
    left: 15rem;
    width: 10rem;
    height: 10rem;
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

/* Child of basicContainer, styles the description 'Basic' */
.basicContainerText{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0.25rem 0 0 0;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: white;
}

/* Scrollable container to hold basic components in basicContainer */
.basicButtonContainer{
    width: 95%;
    margin: auto;
    height: 8rem;
    background-color: #721a1a;
    display: flex;
    flex-flow: wrap;
    overflow-y: scroll;
}