html {
    height: 100%;
}

body {
    margin: 0; 
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #323232, black);
    background-attachment: fixed;
}

/* Wraps canvas and toolbar(s) */
.guiContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

/* Purpose: canvas shall work as a background under the toolbar(s) */
.guiContainer canvas{
    position: fixed;
}

/* Purpose: "Floating" toolbar over the canvas */
.guiContainer .toolbar-flexbox{
    position: relative;
}

.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 1px 11px;
    border: 1px solid #4e4e4e;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #221b1b;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button:hover {
    border: 1px solid #812525;
    background: #721a1a;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
    border: 1px solid #961e1e;
    background: #961e1e;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:disabled {
    border: 1px solid #313131;
    background: #292929;
    color: #969696;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
}

.slider {
    -webkit-appearance: none;
    position: relative;
    width: 7em;
    height: 1em;
    border-radius: 10px;
    background: #969696;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    top: 0.3em;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 0.9em;
    border-radius: 75%;
    background: rgb(105, 1, 1);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 0.9em;
    border-radius: 75%;
    background: rgb(105, 1, 1);
    cursor: pointer;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=text] {
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 95%;
    height: 100%;  
    font-size: 1.1em; 
    background-color: darkgray;
}

input[type=text]:hover {
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 95%;
    height: 100%;  
    font-size: 1.1em; 
    background-color: white;
}

#github {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#logo {
    position: fixed;
    left: 0.1em;
    top: 0em;
    width: 150px;
    margin: 0;
    padding: 0;
}

/* toolbar settings for flexbox */
.toolbar-flexbox{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    background-color: blue;
    position: relative;
    height: 4em;
    top: 1em;
    left: 0.5em;
}

.toolbar-button{
    width: 4em;
    height: 100%;
    background-size: 3.5em;
    border: 0px solid black;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-color: green;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    line-height: 6.6em;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* Derivations of toolbar-button
    Doesn't have to do with start button, 
    just a name for a different size of background image */
.toolbar-startButton{
    width: 4em;
    height: 100%;
    background-size: 1.5em;
    border: 0px solid black;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-color: green;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    line-height: 6.6em;
    color: white;
    text-align: center;
    cursor: pointer;
}

.toolbar-toggleButton{
    width: 7.5em;
    height: 100%;
    border: 0px solid black;
    background-size: 5em;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-color: green;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    line-height: 6.3em;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* Basic settings for simulation container */
.simContainer{
    position: relative;
    background-color: darkgreen;
    height: 100%;
    width: 10em;
    display: flex;
    flex-direction: column;
}

/* Upper container in simulation container */
.upperSimContainer{
    position: relative;
    display: flex;
    width: 100;
    height: 55%;
    background-color: darkgray;
    transition: background-image 0.3s linear;
}

/* Lower container in simulation container */
.lowerSimContainer{
    position: relative;
    display: flex;
    width: 100%;
    height: 45%;
    background-color: darkolivegreen;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: white;
}

.simContainer-startButton{
    width: 25%;
    height: 100%;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: darkblue;
    cursor: pointer;
}

/* Checkbox */
.sfCheckBox{
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    height: 50%;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    padding: 0.5em;
    cursor: pointer;
}

/* Container for input field, search and save button */
.searchSaveLoadContainer{
    position: relative;
    width: 9em;
    height: 100%;
    background-color: purple;
}

/* Contains search bar, child of searchSaveLoadContainer */
.inputContainer{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0em auto 0em auto;
    background-color: peru;
}