html {
    height: 100%;
	 -ms-overflow-style: none;
}

body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #323232, black);
    background-attachment: fixed;
}

.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 1px 11px;
    border: 1px solid #6e6e6e;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #6e6e6e;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.checkbox {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button:hover {
    border: 1px solid #c83232;
    background: #c83232;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
    border: 1px solid #961e1e;
    background: #961e1e;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:disabled {
    border: 1px solid #313131;
    background: #292929;
    color: #969696;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
}
.buttonLeft{
	margin-top : 3px;
	margin-left : 5px;
	width: 117px;
	display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 1px 11px;
    border: 1px solid #6e6e6e;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #6e6e6e;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}
.buttonLeft:hover {
    border: 1px solid #c83232;
    background: #c83232;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.buttonLeft:active {
    border: 1px solid #961e1e;
    background: #961e1e;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.buttonLeft:disabled {
    border: 1px solid #313131;
    background: #292929;
    color: #969696;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 3px;
    background: #969696;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    background: #292929;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #292929;
    cursor: pointer;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=text] {
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#github {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#logo {
    position: fixed;
    left: 1px;
    top: -5px;
    width: 150px;
    margin: 0;
    padding: 0;
}

body{
	overflow:hidden;
	user-drag: none;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.scrollBoxLeft{
	width :150px;
	overflow-y : scroll;
	overflow-x : hidden;
	margin-top : 74px;
}
::-webkit-scrollbar { 
    display: none; 
}
