html {
    height: 100%;
	 -ms-overflow-style: none;
}

body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #323232, black);
    background-attachment: fixed;
}

.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 1px 12px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom:2px solid black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #6e6e6e;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.colorButton {
    display: inline-block;
    cursor: pointer;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
    padding: 0;
}

.redButton {
    background: rgb(200, 50, 50);
}

.yellowButton {
    background: rgb(240, 240, 50);
}

.greenButton {
    background: rgb(40, 180, 40);
}

.blueButton {
    background: rgb(10, 100, 190);
}

.colorButton:hover {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.redButton:hover {
    background: rgb(209, 71, 71);
}

.yellowButton:hover {
    background: rgb(255, 255, 83);
}

.greenButton:hover {
    background: rgb(78, 208, 69);
}

.blueButton:hover {
    background: rgb(63, 125, 218);
}

.colorButton:active {
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.colorButton.active {
    border-bottom: 2px solid white;
}

.ease_in {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.ease_out {
    opacity: 1.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.checkbox {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    background: #c83232;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
    background: #961e1e;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:disabled {
    background: #292929;
    color: #969696;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
}

.buttonLeft{
	margin-top : 3px;
	margin-left : 5px;
	width: 117px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 2px 11px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom:2px solid black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #6e6e6e;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.previewButton {
    width: 63px;
    height: 55px;
    padding: 4px 2px;
    margin-top : 3px;
	margin-left : 5px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom:2px solid black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #6e6e6e;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.previewButton:active, .previewButton.active {
    background: #961e1e;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.previewButton:hover {
    background: #c83232;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.previewButton:disabled {
    background: #292929;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
}

.textInput {
    border: 0;
    border-bottom: 2px solid black;
    font-size: 15px;
    padding: 5px;
}

.descInput {
    padding: 10px;
}

.selectLeft{
	margin-top : 3px;
	margin-left : 5px;
	width: 117px;
	display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 1px 10px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom:2px solid black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #6e6e6e;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    user-select: none;
}

.buttonLeft:hover {
    border: 0;
    border-bottom: 2px solid black;
    padding: 2px 11px;
    background: #c83232;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.buttonLeft:active, .buttonLeft.active {
    border: 0;
    border-bottom: 2px solid black;
    padding: 2px 11px;
    background: #961e1e;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.buttonLeft:disabled {
    border: 0;
    border-bottom: 2px solid black;
    padding: 2px 11px;
    background: #292929;
    color: #969696;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
}

.button.active {
    border: 0;
    border-bottom: 2px solid black;
    padding: 1px 12px;
    background: #961e1e;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border: 0;
    border-bottom: 2px solid black;
    background: #969696;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #292929;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #292929;
    cursor: pointer;
}

input[type=range]::-ms-tooltip {
    display: none;
}

.saveInput {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    width: 280px;
}

.btn-red {
    background-color: rgb(200, 50, 50);
    border: 0;
    border-bottom:2px solid black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px 40px;
    margin: 10px;
    font-family:  'Open Sans', Arial, sans-serif;
    font-size: 20px;
    color:#ffffff;
    font-weight: 300; 
	font-style: normal; 
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    cursor: pointer;
    width: 145px;
}

.btn-red:hover {
    background-color: rgb(209, 71, 71);
    color:#ffffff;
}

textarea {
    border: none;
    border-bottom: 2px solid black;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#github {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#logo {
    position: fixed;
    left: 1px;
    top: -5px;
    width: 150px;
    margin: 0;
    padding: 0;
}

body{
	overflow:hidden;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.scrollBoxLeft{
	width :150px;
	overflow-y : auto;
	overflow-x : hidden;
    margin-top : 74px;
    scrollbar-width: none;
}
::-webkit-scrollbar { 
    display: none; 
}