html {
    height: 100%;
	 -ms-overflow-style: none;
}

body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #323232, black);
    background: #323232;
    background-attachment: fixed;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0 14px;
    margin-top: 4px;
    height: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-transform: uppercase;
    background: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
  }

  .button > .icon, .buttonLeft > .icon {
    color: rgb(200, 50, 50);
  }

  .button.active > .icon, .buttonLeft.active > .icon {
    color: rgb(255, 255, 255);
  }

  .button:hover {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    color: #969696;
}

.button.active:hover {
    color: white;
}

.button.active:disabled {
    color: #969696;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active, .button.active {
    background: linear-gradient(145deg, #b42d2d, #d63636);
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.button:disabled {
    color: #969696;
    background: none;
    box-shadow: none;
    cursor: default;
}

.button:disabled > .icon {
    color: #969696;
}

.colorButton {
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 10px;
    border: none;
    padding: 0;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.redButton {
    background: rgb(200, 50, 50);
}

.yellowButton {
    background: rgb(240, 240, 50);
}

.greenButton {
    background: rgb(40, 180, 40);
}

.blueButton {
    background: rgb(10, 100, 190);
}

.colorButton:hover {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.redButton:hover {
    background: rgb(209, 71, 71);
}

.yellowButton:hover {
    background: rgb(255, 255, 83);
}

.greenButton:hover {
    background: rgb(78, 208, 69);
}

.blueButton:hover {
    background: rgb(63, 125, 218);
}

.colorButton:active, .colorButton.active {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    border: 2px solid white;
}

.ease_in {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.ease_out {
    opacity: 1.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #969696;
    margin: 10px 0 5px 0;
    font-size: 15px;
    text-transform: uppercase;
}

.checkbox {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 18px 0 5px 10px;
}

.buttonLeft{
	margin-top : 5px;
    margin-left: 8px;
	width: 200px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 6px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-transform: uppercase;
    background: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
}

.buttonLeft:hover {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    color: #969696;
}

.buttonLeft:active, .buttonLeft.active {
    background: linear-gradient(145deg, #b42d2d, #d63636);
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.buttonLeft.active:hover {
    color: white;
}

.buttonLeft:disabled {
    color: #969696;
    cursor: default;
    background: none;
    border: none;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.previewButton {
    width: 65px;
    height: 65px;
    padding: 0;
    margin: 2px 5px 0 5px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.previewButton:hover > .preview {
    filter: brightness(80%);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.previewButton:active, .previewButton.active {
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    background: #646464;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.previewButton.active > .preview {
    filter: brightness(100%);
}

.previewButton:disabled {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
    background: none;
    box-shadow: none;
}

.previewButton:disabled >  .preview {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    filter: brightness(50%);
}

.topBox {
    appearance: none;
    -webkit-appearance: none;
    padding: 3px 10px;
}

.topBox > label {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.descInput {
    background: #646464;
    padding: 10px;
    box-shadow: inset 30px 30px 90px #2b2b2b, 
                inset -30px -30px 90px #3a3a3a;
}

.optionLabel {
    margin: 5px 0 5px 10px;
    width: 110px;
    display: inline-block;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}

.selectLeft{
	margin-top : 10px;
	margin-left : 5px;
	width: 80px;
	display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-transform: uppercase;
    background: #323232;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    user-select: none;
    background: #646464;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.sequencer {
    margin-top : 3px;
    margin-left : 5px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 1px 10px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #646464;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.sequencer::-ms-expand {
    display: none;
  }

.sequencer option {
    background:#6e6e6e;
    padding: 1px 10px;
  }

.labelTextBox {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 7px;
    border: none;
    background: white;
    border-radius: 10px;
    color: black;
    border: none;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 160px;
    background: #646464;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 30px;
    border-radius: 0;
    background: #292929;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 30px;
    border-radius: 0;
    background: #292929;
    cursor: pointer;
}

input[type=range]::-ms-tooltip {
    display: none;
}

.saveInput {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    width: 280px;
    border: none;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.textInput {
    font-size: 18px;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
}

.textInput:disabled {
    background: #323232;
}

.btn-red {
    background: linear-gradient(145deg, #b42d2d, #d63636);
    box-shadow: 5px 5px 5px #2b2b2b, 
                -5px -5px 5px #3a3a3a;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    font-family:  'Open Sans', Arial, sans-serif;
    font-size: 20px;
    color:#ffffff;
    text-align: center;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    cursor: pointer;
    width: 145px;
    outline: none;
}

.btn-red:hover {
    background: linear-gradient(145deg, #d63636, #b42d2d);
    color:#ffffff;
}

#github {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#logo {
    position: fixed;
    left: 1px;
    left: 40px;
    top: -5px;
    width: 150px;
    margin: 0;
    padding: 0;
}

.scrollBoxLeft{
	width :230px;
	overflow-y : auto;
	overflow-x : hidden;
    margin-top : 74px;
    scrollbar-width: none;
}
::-webkit-scrollbar { 
    display: none; 
}