html {
    height: 100%;
	-ms-overflow-style: none;
}

@font-face {
    font-family: ArcaMajora3;
    src: url("css/ArcaMajora3-Bold.otf") format("opentype");
}

body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
    background: #fff;

    font-family: ArcaMajora3;

    background-attachment: fixed;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.dark-theme body {
    background: #323232;
}

#mainCanvas {
    z-index: 0;
    transition: 0.2s ease-in-out;
}

.dark-canvas {
    filter: brightness(70%);
}

.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0 12px;
    margin-top: 7px;
    height: 35px;
    border-radius: 0;
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    font-size: 18px;
    color: #323232;

    -o-text-overflow: clip;
    text-overflow: clip;
    background: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
  }

  .dark-theme .button {
    color: white;
  }

  .button > .icon, .buttonLeft > .icon {
    color: rgb(200, 50, 50);
  }

  .button.active > .icon, .buttonLeft.active > .icon, .button:active > .icon {
    color: rgb(255, 255, 255);
  }

  .button:hover {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    color: #969696;
}

.button.active:hover {
    color: white;
}

.button.active:disabled {
    color: #969696;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active, .button.active {
    background: #c83232;
    color: white;
}

.button:disabled {
    color: #969696;
    background: none;
    box-shadow: none;
    cursor: default;
}

.button:disabled > .icon {
    color: #969696;
}

.colorButton {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 30px;
    margin: 0 5px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    outline: none;
}

.redButton {
    background: rgb(200, 50, 50);
}

.yellowButton {
    background: rgb(240, 240, 50);
}

.greenButton {
    background: rgb(40, 180, 40);
}

.blueButton {
    background: rgb(10, 100, 190);
}

.colorButton:hover {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.redButton:hover {
    background: rgb(209, 71, 71);
}

.yellowButton:hover {
    background: rgb(255, 255, 83);
}

.greenButton:hover {
    background: rgb(78, 208, 69);
}

.blueButton:hover {
    background: rgb(63, 125, 218);
}

.colorButton:active, .colorButton.col-active {
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    border: 3px solid #323232;
}

.dark-theme .colorButton:active, .dark-theme .colorButton.col-active {
    border: 3px solid white;
}

/*.redButton:active, .redButton.col-active {
    border: 3px solid #9f2828;
}

.yellowButton:active, .yellowButton.col-active {
    border: 3px solid #dfdf11;
}

.greenButton:active, .greenButton.col-active {
    border: 3px solid #1e8a1e;
}

.blueButton:active, .blueButton.col-active {
    border: 3px solid #074a8d;
}*/

.ease_in {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.ease_out {
    opacity: 1.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    text-align: center;
    color: #323232;
    margin: 10px 15px;
    font-size: 18px;
}

.dark-theme .label {
    color: #fff;
}

.leftLabel {
    display: inline-block;
}

.inlineLabel {
    display: inline-block;
    color: #323232;
    margin-top: 0;
    margin-bottom: 0;
}

.scrollContainerLeft > .label {
    margin: 30px 0 10px 0;
    width: 230px;
}

.scrollContainerLeft > .simLabel {
    margin: 20px 0;
}

.scrollContainerLeft > .msLabel {
    float: right;
    width: 60px;
    margin: 0 20px 0 0;
    line-height: 30px;
}

.disabledLabel {
    color: #969696;
}

.dark-theme .disabledLabel {
    color: #969696;
}

.checkbox {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #323232;
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 20px 0 20px 20px;
}

.dark-theme .checkbox {
    color: #fff;
}

.scrollContainerLeft > .checkbox {
    margin: 10px 20px;
}

.buttonLeft{
	margin-top : 10px;
    margin-left: 10px;
    width: 208px;
    margin: 10px 10px 10px 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 6px;
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    font-size: 18px;
    color: #323232;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    border-radius: 0;
    outline: none;
}

.dark-theme .buttonLeft {
    color: white;
}

.buttonLeft:hover {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    color: #969696;
}

.buttonLeft:active, .buttonLeft.active {
    background: #c83232;
    color: white;
}

.buttonLeft.active:hover {
    color: white;
}

.buttonLeft:disabled {
    color: #969696;
    cursor: default;
    background: none;
    border: none;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.previewButton {
    width: 64px;
    height: 64px;
    padding: 2px;
    margin: 3px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 0;
    border: none;
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: none;

    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-shadow: 0 0 4px #969696;
    outline: none;
}

.dark-theme .previewButton {
    box-shadow: 0 0 4px #000;
}

.previewButton:hover {
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    background: #ddd;
}

.dark-theme .previewButton:hover {
    background: #202020;
}

.previewButton:active, .previewButton.active {
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    background: #969696;
}

.dark-theme .previewButton:active, .dark-theme .previewButton.active {
    background: #202020;
}

.previewButton:disabled {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: default;
    background: #ddd;
}

.dark-theme .previewButton:disabled {
    background: #202020;
}

.previewButton:disabled >  .preview {
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    filter: brightness(90%);
}

.dark-theme .previewButton:disabled >  .preview {
    filter: brightness(50%);
}


.topBox {
    appearance: none;
    -webkit-appearance: none;
    padding: 3px 10px;
}

.topBox > label {
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    color: #323232;
    font-size: 20px;
    padding: 10px;
}

.dark-theme .topBox > label {
    color: #fff;
}

.descInput {
    padding: 10px;
    text-align: justify;
}

.optionLabel {
    margin: 5px 0 5px 10px;
    width: 110px;
    display: inline-block;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    font-size: 16px;
    color: #323232;
}

.dark-theme .optionLabel {
    color: #fff;
}

.selectLeft{
	margin-top : 10px;
	margin-left : 5px;
	width: 80px;
	display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 0;
    border: none;
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    -o-text-overflow: clip;
    text-overflow: clip;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    user-select: none;
    background: #585858;
    outline: none;
}

#label-textbox {
    font-family: ArcaMajora3, 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #fff;
    border-radius: 0;
    color: #323232;
    border: none;
    width: 220px;
    height: 60px;
    outline: none;
    resize: none;
}

.dark-theme #label-textbox {
    background: #323232;
    color: #fff;
}

.dark-theme .labelTextBox {
    background: #323232;
    color: #fff;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 200px;
    background: #969696;
    outline: none;
    margin: 0 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 31px;
    border-radius: 0;
    border: none;
    background: #323232;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 31px;
    border-radius: 0;
    border: none;
    background: #323232;
    cursor: pointer;
}

.dark-theme .slider::-webkit-slider-thumb {
    background: #fff;
}

.dark-theme .slider::-moz-range-thumb {
    background: #fff;
}

.sliderLeft {
    float: left;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    user-select: none;
    margin: 0 0 0 20px;
    width: 130px;
}

.sliderLeft:disabled {
    background: #ddd; 
}

.sliderLeft:disabled::-webkit-slider-thumb {
    background: #969696;
    cursor: default;
}

.dark-theme .sliderLeft:disabled {
    background: #585858;
}

.dark-theme .sliderLeft:disabled::-webkit-slider-thumb {
    background: #969696;
}

.sliderLeft:disabled::-moz-range-thumb {
    background: #969696;
    cursor: default;
}

input[type=range]::-ms-tooltip {
    display: none;
}

.saveInput {
    padding: 10px;
    margin: 20px;
    font-size: 22px;
    width: 280px;
    border: none;
    background: white;
    color: #323232;
}

.textInput {
    font-size: 25px;
    padding: 10px;
    border: none;
    background: white;
    color: #323232;
    outline: none;
}

.textInput:disabled::placeholder {
    color: #ccc;
}

.dark-theme .saveInput, .dark-theme .textInput {
    background: #323232;
    color: #fff;
}

.btn-red {
    background: #c83232;
    border-radius: 0;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    color:#fff;
    text-align: center;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    cursor: pointer;
    width: 145px;
    outline: none;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#output-modifier {
    position: absolute;
    padding: 10px;
    left: calc(50vw - 230px);
    top: calc(50vh - 230px);
    background: white;
    width: 280px;
    height: 105px;
    margin: 0;
    display: none;
}

.dark-theme #output-modifier {
    background: #323232;
}

#clock-modifier {
    position: absolute;
    padding: 10px;
    left: calc(50vw - 230px);
    top: calc(50vh - 230px);
    background: white;
    width: 220px;
    height: 140px;
    margin: 0;
    display: none;
}

.dark-theme #clock-modifier {
    background: #323232;
}

#cs-label {
    text-align: center;
    color: #323232;
}

.dark-theme #cs-label {
    color: #fff;
}

#label-modifier {
    position: absolute;
    padding: 10px;
    left: calc(50vw - 230px);
    top: calc(50vh - 230px);
    background: white;
    width: 240px;
    height: 160px;
    margin: 0;
    display: none;
}

.dark-theme #label-modifier {
    background: #323232;
}

#output-modifier h1, #clock-modifier h1, #label-modifier h1 {
    font-size: 30px;
    margin: 10px 0;
}

#select-tools {
    position: absolute;
    padding: 0 5px;
    left: 50vh;
    top: 50vh;
    background: none;
    width: 190px;
    height: 50px;
    margin: 0;
    display: none;
}

.red-rect-mini {
    position: absolute;
    left: -20px;
    bottom: -20px;
    background: #c83232;
    height: 100px;
    width: 100px;
    z-index: -1;
}

.grey-rect-mini {
    position: absolute;
    right: -20px;
    top: -20px;
    background: #323232;
    height: 100px;
    width: 100px;
    z-index: -1;
}

.dark-theme .grey-rect-mini {
    background: white;
}

.grey-rect-medium {
    position: absolute;
    right: -30px;
    top: -30px;
    background: #323232;
    height: 150px;
    width: 150px;
    z-index: -1;
}

.dark-theme .grey-rect-medium {
    background: white;
}

.red-rect-medium {
    position: absolute;
    left: -30px;
    bottom: -30px;
    background: #c83232;
    height: 150px;
    width: 150px;
    z-index: -1;
}

#tour-dialog {
    position: absolute;
    padding: 10px;
    left: calc(50vw - 230px);
    top: calc(50vh - 230px);
    background: white;
    width: 600px;
    height: 250px;
    margin: 0;
    display: none;
}

.dark-theme #tour-dialog {
    background: #323232;
}

#tour-welcome {
    margin-top: 80px;
    display: none;
}

#tour-text {
    text-align: center;
    margin: 0 40px;
    color: #323232;
    position: absolute;
    top: calc(50% - 30px);
    font-size: 30px;
    transform: translateY(-50%);
}

.dark-theme #tour-headline {
    color: #323232;
}

#tour-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    bottom: 40px;
}

.dark-theme #tour-text {
    color: white;
}

#tour-dialog h1 {
    font-size: 50px;
}

#tour-headline {
    margin-top: -60px;
    text-align: left;
    color: white;
}

#tour-dialog h2 {
    font-size: 40px;
}

#save-dialog {
    position: absolute;
    padding: 10px;
    left: calc(50vw - 230px);
    top: calc(50vh - 230px);
    background: white;
    width: 600px;
    height: 400px;
    margin: 0;
    display: none;
}

.dark-theme #save-dialog {
    background: #323232;
}

#cancel-save-button {
    position: absolute;
    right: 200px;
    bottom: 30px;
    width: 150px;
}

#save-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 150px;
}

#module-input {
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    width: 200px;
    height: 27px;
    margin: 10px;
    text-align: center;
}

#sketchname-1 {
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    width: 150px;
    border: none;
    background: none;
    color: #969696;
    text-align: right;
    padding: 5px 15px 5px 0;
    outline: none;
}

#sketchname-1::placeholder {
    color: #969696;
}

#sketchname-2 {
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    height: 27px;
    width: 200px;
}

#desc-input {
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    right: 50px;
    bottom: 100px;
    width: 280px;
    height: 172px;
    resize: none;
}

#preview-image {
    height: 200px;
}

#module-overlay {
    position: absolute;
    width: 450px;
    height: 100vh;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    transition: 0.2s ease-in-out;
    display: none;
}

.customDialogButton {
    width: 155px;
}

#custom-dialog {
    position: absolute;
    padding: 10px;
    left: 425px;
    top: 80px;
    background: white;
    width: calc(100% - 630px);
    height: calc(100vh - 230px);
    margin: 0;
    display: none;
}

.dark-theme #custom-dialog {
    background: #323232;
}

#module-previewer {
    position: absolute;
    padding: 10px;
    right: 100px;
    top: 90px;
    background: white;
    width: 240px;
    height: 340px;
    margin: 0;
    display: none;
}

.dark-theme #module-previewer {
    background: #323232;
}

#pin-configurator {
    position: absolute;
    padding: 10px;
    right: 100px;
    top: 480px;
    background: white;
    width: 240px;
    height: 340px;
    margin: 0;
    display: none;
}

#pin-head {
    display: grid;
    grid-template-columns: 35px 40px 70px 70px;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    color: #323232;
}

.dark-theme #pin-head {
    color: #fff;
}

#pin-inner {
    display: grid;
    grid-template-columns: 40px 30px 80px 80px;
    grid-template-rows: auto;
    max-height: 240px;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#pin-configurator h1, #module-previewer h1 {
    font-size: 25px;
    height: 30px;
    margin-bottom: 10px;
}

.configuratorLabel {
    width: 50px;
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    color: #323232;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.dark-theme .configuratorLabel {
    color: white;
}

.inputLabel {
    width: 70px;
    background: white;
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    padding: 5px;
    height: 40px;
    color: #323232;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 0;
    margin: 5px;
    text-align: center;
}

.dark-theme .inputLabel {
    background: #323232;
    color: white;
}

.dark-theme #pin-configurator {
    background: #323232;
}

.grey-rect {
    position: absolute;
    right: -40px;
    top: -40px;
    background: #323232;
    height: 200px;
    width: 200px;
    z-index: -1;
}

.dark-theme .grey-rect {
    background: white;
}

.red-rect {
    position: absolute;
    left: -40px;
    bottom: -40px;
    background: #c83232;
    height: 200px;
    width: 200px;
    z-index: -1;
}

.sketch_item {
    position: relative;
    height: 300px;
    background: #fff;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
}

.dark-theme .sketch_item {
    background: #323232;
}

.preview_image:hover span.overlay {
    background: rgba(200, 50, 50, 1);
    color: #fff;
    transition: 0.2s ease-in-out;
}

span.overlay {
    background: rgba(0, 0, 0, 0);
    display:table;
    color: rgba(0, 0, 0, 0);
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 225px;
    left: 20px;
    border-radius: 0;
    cursor: pointer;
}

span.overlay span {
    font-size: 25px;
    color: inherit;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.sketch_name {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
    left: 0;
    top: 20px;
    font-size: 25px;
    color: #323232;
}

.dark-theme .sketch_name {
    color: #fff;
}

.no_sketches_container {
    height: 100%;
    float: left;
    width: calc(100% - 300px);
}

.no_sketches_info {
    font-size: 25px;
    text-align: center;
    color: #323232;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark-theme .no_sketches_info {
    color: #fff;
}

.preview_name {
    float: right;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 30px;
    color: #323232;
    width: 200px;
    margin: -70px 30px 10px 0;
}

.dark-theme .preview_name {
    color: #fff;
}

.preview_text {
    float: right;
    padding: 0;
    text-align: justify;
    font-size: 15px;
    color: #323232;
    width: 200px;
    margin: 0 30px 10px 0;
    height: 250px;
    overflow: hidden;
}

.dark-theme .preview_text {
    color: #fff;
}

.sketch_item img {
    margin: 20px;
    margin-top: 60px;
    width: 200px;
    cursor: pointer;
    border-radius: 0;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: 300px;
    gap: 0;
    margin: 0 0 0 30px;
    grid-row: 1;
    grid-column: 1;
    width: calc(100% - 300px);
    height: calc(100% - 180px);
    overflow-y: scroll;
    scrollbar-width: thin;
    float: left;
}

#preview-canvas canvas {
    float: right;
    width: 200px;
    margin: 0 30px 20px 0;
    height: 200px;
    border-radius: 0;
}

#module-canvas {
    width: 200px;
    margin: 0 20px;
    height: 200px;
    border-radius: 0;
}

#cancel-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 2000;
    width: 200px;
}

h1 {
    text-align: center;
    font-family: ArcaMajora3, 'Open Sans', Arial, sans-serif;
    font-size: 36px;
    color: #323232;
    height: 50px;
}

.dark-theme h1 {
    color: #fff;
}

.hover-btn:hover {
    background: #323232;
    box-shadow: 0 0 20px #969696;
}

.dark-theme .hover-btn:hover {
    background: #fff;
    box-shadow: 0 0 20px #272727;
    color: #323232;
}

.btn-red:hover {
    color:#ffffff;
}

.btn-red:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#logo {
    position: fixed;
    left: 20px;
    top: 0px;
    width: 200px;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

#topButtonsContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: white;
    overflow: hidden;
    z-index: 100;
}

.dark-theme #topButtonsContainer {
    background: #323232;
}

#topLeftButtons {
    margin-left: 240px;
}

#topRightButtons {
    margin-left: auto;
    margin-right: 10px;
}

.scrollBoxLeft{
    display: inline-block;
	width: 230px;
	overflow-y: auto;
	overflow-x: hidden;
    padding-right: 2px;
    scrollbar-width: thin;
    scrollbar-color: #969696 #fff;
}

.dark-theme .scrollBoxLeft {
    scrollbar-color: #969696 #323232;
}

.scrollContainerLeft{
    display: inline-block;
	width: 235px;
	overflow-y: hidden;
	overflow-x: hidden;
    margin-top: 0;
    padding-left: 5px;
    padding-top: 40px;
    scrollbar-width: none;
    background: white;
    height: 100%;
}

.dark-theme .scrollContainerLeft {
    background: #323232;
}

::-webkit-scrollbar { 
    scrollbar-width: thin;
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #969696;
}

.dark-theme ::-webkit-scrollbar-thumb {
    background: #202020;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #666;
}