doctype html
<html style="position: relative; min-height: 100%;">
head
  title LogiJS: Features
  meta(name='keywords', content='')
  meta(name='description', content='')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='images/favicon.ico')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
  style
    include css/bootstrap.css
    include css/index_style.css
<body style="margin: 0 0 100px;">
.top-menu
  .container
    .navbar.navbar-default.navbar-fixed-top(style='background: rgb(50, 50, 50);', role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='images/logo_index.png', style='width: 200px;', alt='LogiJS', title='LogiJS')
        #nav-bar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right(style='margin-top: 40px;')
            li
              a.internal-link(rel='nofollow', href='/', target='_parent') HOME
            li.active
              a(href='#') FEATURES
            li
              a.external-link(rel='nofollow', href='https://www.github.com/SimonBuxx/LogiJS', target='_parent') GITHUB
            li
              if user !== ''
                a.internal-link(rel='nofollow', href='/dashboard', target='_parent' style="margin-left: 60px; color: rgb(40, 180, 40);") #{user.toUpperCase()}
              else
                a.internal-link(rel='nofollow', href='/login', target='_parent' style="margin-left: 60px;") LOGIN
            if user == ''
                li
                    a.internal-link(rel='nofollow', href='/signup', target='_parent') REGISTER
div
  #blur_dark
  #caption(style='color: white; text-align: center; margin: 0;')
    h2(style='font-size: 40px; margin-bottom: 50px;') Planned Features
  div(style='color: white; text-align: justify; margin: 0; margin-left: 20%; margin-right: 20%; font-size: 20px;')
    p
      | The LogiJS project is in a state where many important features of a logic simulator are integrated but
      | we&apos;re
      | planning to implement a lot of new stuff to make LogiJS more powerful and easier to use. These are some
      | features
      | that we want to integrate in the future, in no specific order:
      ul
        li
          b Copying or deleting parts of a sketch: 
          | At the moment, LogiJS gives you the ability to select parts of a sketch.
          | These parts can be dragged to another place on the sketch. We want to extend these features
          | to enable the user to delete or copy parts of a sketch and to paste it multiple times.
        br
        li
          b Support for the VHDL/Verilog hardware description languages: 
          | VHDL and Verilog are languages to describe
          | logical circuits, like the one you can create in LogiJS, in a standardized form, for example to
          | execute them on an FPGA. Having an option to im- and export VHDL or Verilog code may be an important
          | feature for the use of LogiJS in education.
        br
        li
          b Marketplace for user generated sketches: 
          | We want to implement a page where all users can publish their sketches to for other users to explore.
          | The users should be able to open and alter copies of these sketches with all dependencies (custom modules) that come with it.
        br
        li
          b Collaboration with other users: 
          | Users should be able to collaborate in real-time on a sketch that multiple users have access to.
          | For this, there should be a system to manage edit links to sketches so that users can share sketches.
        br
    p(style='text-align: center;')
      b Got ideas for upcoming features?
    p(style='text-align: center;')
      b
        | Just open an issue on 
        a(href='https://www.github.com/SimonBuxx/LogiJS') GitHub
        |  or 
        a(href='mailto:logijs@outlook.com') get in contact
        |  with us directly!
.footer_bottom
  .text-center
    .footer_bottom_content
      span#footer-line
        | Copyright &copy; 2019 
        a(href='https://www.github.com/SimonBuxx') Simon Buchholz
        |  | 
      span(style="text-align: right;")
        a.internal-link(rel='nofollow', href='/legal', target='_parent') Legal Notice
script
  include ../libraries/jquery.min.js
  include ../libraries/bootstrap.min.js
  include ../libraries/stickUp.min.js
</body>
</html>