doctype html
<html lang="en">
head
  |   <!-- Google Tag Manager -->
  |   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  |   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  |   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  |   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  |   })(window,document,'script','dataLayer','GTM-WKSH2RQ');</script>
  |   <!-- End Google Tag Manager -->
  title LogiJS: Register
  meta(name='keywords', content='LogiJS, logic, circuit, simulation, simulator, editor, free, open, source, gate, input, output, sketch, electronics, physics, informatics, it, \
  computer, chip, pcb, design, creator, creation, processor, cpu, logi, js, javascript')
  meta(name='description', content='LogiJS is a web-based logic circuit simulator for educational use. Discover the world of logic circuits.')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='images/favicon.ico')
  style
    include css/bootstrap.css
    include css/index_style.css
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js')
  script.
    window.addEventListener("load", function () {
    window.cookieconsent.initialise({
    "palette": {
    "popup": {
    "background": "#323232",
    "text": "#ffffff"
    },
    "button": {
    "background": "#c83232",
    "text": "#ffffff"
    }
    }
    })
    });
body
  |   <!-- Google Tag Manager (noscript) -->
  |   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKSH2RQ"
  |   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  |   <!-- End Google Tag Manager (noscript) -->
  .top-menu
    .container
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='images/logo_index.png', alt='LogiJS logo', title='LogiJS')
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.internal-link(rel='nofollow', href='/', target='_parent') HOME
              li
                a.internal-link(rel='nofollow', href='/samples', target='_parent') SAMPLES
              li
                a.external-link(rel='nofollow', href='https://www.github.com/SimonBuxx/LogiJS', target='_parent') GITHUB
              li
                a.login-button.internal-link(rel='nofollow', href='/login', target='_parent') LOGIN
              li.active
                a(href='#') REGISTER
  #blurred-background
  #register_back.carousel
    - var error = parseInt(error_code);
    form.SignUp
      case error
        when 1: p.red-message Username invalid!
        when 2: p.red-message Email address invalid!
        when 3 
          p.red-message Password invalid! 
          p.red-message.password-tipps Please enter 6 to 50 upper- AND lowercase characters, containing at least one digit.
        when 4: p.red-message Username already taken!
        default: h1 Register
      p
        input.username(type='text', placeholder='USERNAME')
        br
        input.email(type='text', placeholder='E-MAIL')
        br
        input.password(type='password', placeholder='PASSWORD')
        br
        input.btn.btn-lg.btn-orange.login-confirm-button(type='submit', value='REGISTER', role='button')
      p.login-redirect-text
        | By continuing, you are accepting our <br>
        a.login-redirect-text(href='/terms-of-service') TERMS OF SERVICE
        | .
      p.login-redirect-text
        | Already have an account? 
        a.login-redirect-text(href='/login') LOGIN
      br
  .footer_bottom
    .text-center
      .footer_bottom_content
        span#footer-line
          a.internal-link(rel='nofollow', href='/terms-of-service', target='_parent') Terms of Service
          |  | 
          a.internal-link(rel='nofollow', href='/legal', target='_parent') Legal Notice
  script
    include ../libraries/jquery.min.js
    include ../libraries/bootstrap.min.js
    include ../site_scripts/create_account.js